<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Oopps, the page you are looking for seems to be missing.</h5>
  <div style="text-align: center">
  <a class="text-center" th:href="@{/}">Go to homepage...</a>
  </div>
  <img class="mx-auto d-block" th:src="@{/images/broken2.png}" alt="Broken Controller">
  <br/>

</div>

</body>
</html>