<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
</div>
  <div class="container-fluid">
    <h5 class="text-center text-white mt-5">Oopps, something went wrong!</h5>
    <h5 class="text-center text-white mt-5">We are working to resolve the issue.</h5>
    <img class="mx-auto d-block" th:src="@{/images/broken2.png}" alt="Broken Controller">
  </div>

</body>
</html>