body {
    background-image: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #3b3636;
}

.pagination .page-item .page-link.active {
    background-color: #007bff !important;
    color: #fff !important;
}
r