<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
</div>
<br>
<div class="container text-white">
    <h1 class="mb-3">
        <span class="my-bg" style="padding: 5px; border-radius: 6px;">Shopping Cart</span>
    </h1>
    <div th:if="${itemAddedToCartMessage}" class="alert alert-success custom-alert alert-dismissible fade show" role="alert">
        <strong th:text="${itemAddedToCartMessage}"></strong>
    </div>
  <div  th:if="${cartItems.size() == 0}" class="text-center align-items-center justify-content-center my-bg">
    <h3 class="mt-4">Looks like your shopping cart is still empty. </h3>
    <h4 class="mt-5 mb-4" style="color: grey">Click <a href="/games">here</a> to browse our latest games!</h4>
  </div>

    <table th:unless="${cartItems.size() == 0}" class="table table-bordered table-hover table-dark">
        <thead>
        <tr>
            <th class="ml-2">Game</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Total</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td>
                <div class="media">
                    <img th:src="@{${item.game.imageURL}}" alt="Game Image" width="40" height="55" class="mr-3">
                    <div class="media-body">
                        <a th:href="@{'/games/' + ${item.game.id}}">
                            <span class="font-weight-bold" th:text="${item.game.title}"></span>
                        </a>
                        <p th:if="${item.game.isDeleted}" class="text-danger text-center">Out of Stock</p>
                    </div>
                </div>
            </td>
            <td class="text-center" th:text="${item.game.price}"></td>
            <td class="text-center" th:text="${item.quantity}"></td>
            <td class="text-center" th:text="${item.getTotal()}"></td>
            <td class="text-center">
                <form th:action="@{'/cart/remove/' + ${item.id}}" th:method="POST">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

  <div th:unless="${cartItems.size() == 0}" class="float-right">
    <div class="d-inline-block ml-3">
      <p class="my-bg" style="font-size: 22px; padding: 10px; border-radius: 8px; display: inline-block;">Total Price: $<span th:text="${totalPrice}"></span></p>
      <a href="/order" class="btn btn-success btn-lg ml-3">Proceed to Checkout</a>
    </div>
  </div>

</div>
</body>
</html>