<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
        <h2 class="text-white text-center mb-4">Create New Game</h2>
        <form th:action="@{/games/add}" th:method="POST" th:object="${addGameDTO}">
            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label text-white">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
<!--                <small class="text-danger invalid-feedback">Title must be between 4 and 32 symbols!</small>-->
                <p th:if="${#fields.hasErrors('title')}"
                   class="errors alert alert-danger"
                   th:errors="*{title}">
                </p>
            </div>

            <!-- Genre -->
            <div class="mb-3">
                <label for="genre" class="form-label text-white">Genre</label>
                <select class="form-select" id="genre" name="genre" th:field="*{genre}" th:errorclass="is-invalid">
                    <option value="">- Select game genre -</option>
                    <option th:each="g : ${genres}"
                            th:text="${g}"
                            th:value="${g}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Game genre is required.
                </p>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label text-white">Description</label>
                <textarea class="form-control" id="description" th:field="*{description}" name="description"  rows="4"></textarea>
            </div>

            <!-- Release Year -->
            <div class="mb-3">
                <label for="releaseYear" class="form-label text-white">Release Year</label>
                <input class="form-control" id=releaseYear name=releaseYear type="text" th:field="*{releaseYear}">
                <p th:if="${#fields.hasErrors('releaseYear')}"
                   class="errors alert alert-danger"
                   th:errors="*{releaseYear}">
                </p>
            </div>

            <label for="price" class="text-white">Price:</label>
            <input type="number" step="0.01" id="price" name="price" th:field="*{price}"><br><br>
            <!-- Image URL -->
            <div class="mb-3">
                <label for="imageUrl" class="form-label text-white">Image URL</label>
                <input type="text" class="form-control" th:field="*{imageURL}" id="imageUrl" name="imageUrl" th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Image URL is required!
                </p>
            </div>
            <!-- Video URL -->
            <div class="mb-3">
                <label for="videoURL" class="form-label text-white">Video URL</label>
                <input type="text" class="form-control" th:field="*{videoURL}" id="videoURL" name="videoURL" th:errorclass="is-invalid">
                <p th:if="${#fields.hasErrors('videoURL')}"
                   class="errors alert alert-danger"
                   th:errors="*{videoURL}">
                </p>
            </div>
            <button type="submit" class="btn btn-primary mx-auto"
                    style="display: block;margin: 0 auto; width: 30%">Add Game</button>
        </form>
            </div>
        </div>
    </div>
</body>
</html>
