<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container mt-2 justify-content-center align-items-center">
    <h1 class="text-white mb-3 pt-2">
        <span class="my-bg" style="padding: 5px; border-radius: 2px; color: darkgrey">Latest Games</span>
    </h1>

    <div class="container mt-3 mb-3 genre-dropdown text-white">
        <form action="/games/byGenre" method="get">
            <div class="row g-2 align-items-center">
                <div class="col-md-6 col-lg-4">
                    <label for="genre" class="form-label">Select Genre: </label>
                    <select id="genre" name="genre" class="form-select">
                        <option value="" th:selected="${selectedGenre == null}">All Genres</option>
                        <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}" th:selected="${genre == selectedGenre}"></option>
                    </select>
                    <button type="submit" class="btn btn-info btn-md ml-2">Filter</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mx-auto">
        <div class="col-md-4 mb-4" th:each="game : ${games}" th:unless="${games.size == 0}">
            <div class="card" style="width: 100%; height: 700px; padding: 2px; border-radius: 4px">
                <img th:src="${game.imageURL}" class="card-img-top img-fluid" alt="Card Image" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${game.title}"></h5>
                    <p class="card-text">
                        <strong>Genre:</strong> <span th:text="${game.genreName}"></span><br>
                        <strong>Release Year:</strong> <span th:text="${game.releaseYear}"></span><br>
                        <strong>Price:</strong> $<span th:text="${game.price}"></span>
                    </p>
                    <a th:href="@{'/games/' + ${game.id}}" class="btn btn-primary btn-lg d-block mx-auto">Details</a>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${games.totalPages > 1}" class="d-flex justify-content-center mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, games.totalPages - 1)}">
                    <a th:if="${selectedGenre == null}"
                       th:href="@{'/games?page=' + ${pageNumber}}"
                       th:text="${pageNumber + 1}"
                       class="page-link"
                       th:classappend="${pageNumber == games.number  ? 'active' : ''}"></a>
                    <a th:if="${selectedGenre != null}"
                       th:href="@{'/games/byGenre?page=' + ${pageNumber} + '&amp;genre=' + ${selectedGenre}}"
                       th:text="${pageNumber + 1}"
                       class="page-link"
                       th:classappend="${pageNumber == games.number ? 'active' : ''}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>
