<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<br>
<div class="container mt-3 text-center text-white my-bg pt-3">
    <h1>Welcome to GameShop,</h1>
    <th:block th:if="${loggedInUsername != null}">
        <p style="font-size: 24px" th:text="${loggedInUsername} + '!'"></p>
    </th:block>
    <th:block th:if="${loggedInUsername == null}">
        <p style="font-size: 24px">Anonymous !</p>
    </th:block>
    <th:block sec:authorize="hasRole('USER')">
        <h3 class=" pt-3">Click <a href="/games">here</a> to browse our latest PC games!</h3>
    </th:block>
    <h4 th:if="${confirmed == false}" class="mt-4">
        <h4 class="mb-3" style="color: #7c7c7c">or enter your email address below to confirm your profile.</h4>
        <div class="pt-3 pb-3" style="font-size: 18px ; color: #e86473">
            <strong>Note:</strong> Unconfirmed user profiles will be deleted after a certain time.
            Full functionality, such as ordering and reviewing games, requires email confirmation.
        </div>
        <form th:action="@{/enter-email}" method="post" th:object="${addEmailDTO}">
            <div class="row justify-content-center pt-2 pb-2">
                <div class="col-md-4">
                    <div class="input-group input-group-sm mb-2">
                        <label for="email" class="sr-only">Enter your email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div th:if="${emailExists}" class="text-danger">
                        This email address is already taken.
                    </div>
                    <div th:if="${confirmed}" class="text-success">
                        You have successfully confirmed your email address!
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </h4>

    <th:block sec:authorize="!isAuthenticated()">
        <h3 class="pt-3">Click <a href="/games">here</a> to browse our latest PC games!</h3><br>
        <h4 style="color: grey"><a href="/register" >Register</a> to view game details and place an order.</h4><br>
        <h5 class="pb-2" style="color: grey">Already have an account? Log in <a href="/login">here</a>.</h5>
    </th:block>
    <th:block sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-success mr-3" onclick="window.location.href='/games/add'">
                <h4>Add new game</h4>
            </button>
          <button class="btn btn-warning mr-3" onclick="window.location.href='/admin/add'">
            <h4>Add admin</h4>
            </button>
            <button class="btn btn-info " onclick="window.location.href='/orders'">
                <h4>See all orders</h4>
            </button>
    </th:block>

</div>
<div th:if="${topRatedGame != null}" class="container mt-3 text-white game-details-container my-bg" style="font-size: 20px ; max-width: 800px; padding: 6px; border-radius: 18px; border: 1px solid dimgrey">
    <h3 class="mb-3 text-center" style="color: #b4b3b3">Our top rated game: </h3>
    <div class="row pt-2">
        <div class="col-md-6 pb-3 d-flex align-items-center justify-content-center">
            <img th:src="*{topRatedGame.imageURL}" class="img-fluid mx-auto" alt="Game Image" style="max-width: 100%;height: 310px;">
        </div>
        <div class="col-md-4">
            <h3 class="" th:text="*{topRatedGame.title}"></h3>
            <p class="mt-2"><strong>Average Score: </strong>
                <span th:if="${averageScore != 0}" th:each="star : ${#numbers.sequence(1, 5)}"
                      th:utext="${averageScore >= star - 0.5 ? '&#9733;' : '&#9734;'}"
                      style="color: #ffc107;"></span>
                <span th:if="${averageScore == 0}" th:utext="${'&#9734;&#9734;&#9734;&#9734;&#9734;'}" style="color: #ccc;"></span>
            </p>
            <p><strong>Genre: </strong> <span th:text="*{topRatedGame.genreName}"></span></p>
            <p><strong>Release Year: </strong> <span th:text="*{topRatedGame.releaseYear}"></span></p>
            <p class="mb-3"><strong>Price: </strong> $<span th:text="*{topRatedGame.price}"></span></p>
            <a th:href="@{'/games/' + ${topRatedGame.id}}" class="btn btn-primary mt-2">Details</a>
            <a sec:authorize="hasRole('USER')" th:href="@{'/add-to-cart/' + ${topRatedGame.id}}"
               class="btn btn-success ml-2 mr-2 mt-2">Add to cart</a>
        </div>
    </div>
</div>

</body>
</html>
