<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<br>
<div class="container mt-3 text-center text-white my-bg pt-4">
    <h1>Welcome to GameShop,</h1>

    <th:block sec:authorize="isAuthenticated()">
        <p style="font-size: 24px"><span th:text="${#authentication.name}"></span>!</p>
    </th:block>

    <th:block sec:authorize="hasRole('USER')">
        <h3 style="">Click <a href="/games">here</a> to browse our latest PC games!</h3>
    </th:block>

    <th:block sec:authorize="!isAuthenticated()">
        <p>Anonymous!</p>
        <h3 class="pt-3">Click <a href="/register">here</a> to browse our latest PC games!</h3></br>
        <h4><a href="/register">Register</a> to see user reviews and place an order.</h4></br>
        <h5 class="pt-2 pb-2" style="color: grey">Already have an account ? <a href="/login">Log in</a> here.</h5>
    </th:block>

    <th:block sec:authorize="hasRole('ADMIN')">
        <h4 class="pt-4"><a href="/games/add">Add a new game</a></h4>
        <h4 class="pt-4"><a href="/orders">See all orders</a></h4>
        <h4 class="pt-4"><a href="/admin/add">Add admin</a></h4>
    </th:block>
</div>
</body>
</html>
