<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div class="container text-white">
  <h1 class="mt-4 mb-3">My Orders</h1>
  <div  th:if="${orders.size() == 0}" class="text-center align-items-center justify-content-center" style="background-color: rgba(0, 0, 0, 0.9);
            padding: 20px;
            border-radius: 24px">
    <h3 class="mt-4">You haven't made any orders yet. </h3>
    <h5 class="mt-5 mb-4">Click <a href="/games">here</a> to browse our latest games!</h5>
  </div>
  <div  th:if="${orders.size() > 0}" class="text-center align-items-center justify-content-center">
  <table class="table table-striped my-bg">
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Address</th>
      <th>Order Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td th:text="${#temporals.format(order.orderDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td th:text="${order.address}"></td>
      <td>
        <a th:href="@{'/my-orders/' + ${order.id}}" class="btn btn-info">View Details</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</body>
</html>