<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div class="container text-white">
    <h1 class="mb-3 mt-4">
        <span class="my-bg" style="padding: 5px; border-radius: 2px;">My Orders</span>
    </h1>
    <div th:if="${orderSuccessMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong th:text="${orderSuccessMessage}"></strong>
    </div>
  <div  th:if="${orders.size() == 0}" class="text-center align-items-center justify-content-center" style="background-color: rgba(0, 0, 0, 0.9);
            padding: 20px;
            border-radius: 24px">
    <h3 class="mt-4">You haven't made any orders yet. </h3>
    <h4 class="mt-5 mb-4" style="color: grey;">Click <a href="/games">here</a> to browse our latest games!</h4>
  </div>
  <div th:if="${orders.size() > 0}" class="text-center align-items-center justify-content-center">
  <table class="table table-bordered table-hover table-dark">
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Address</th>
      <th>Order Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td th:text="${#temporals.format(order.orderDateTime, 'yyyy-MM-dd HH:mm')}"></td>
      <td th:text="${order.address}"></td>
      <td>
        <a th:href="@{'/my-orders/' + ${order.id}}" class="btn btn-info">View Details</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</body>
</html>