<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
  <div class="container text-white">
    <h1 class="mt-4">Order Details</h1>

    <div  th:if="${orderDetails}" class="mt-4 text-dark">
      <div class="card">
        <div style=" background-color: rgba(0, 0, 0, 0.9); /* Background color with transparency */
    padding: 20px; /* Add padding to the container */
    border-radius: 10px; " class="card-body text-white">
          <p class="card-text"><strong>Order ID:</strong> <span th:text="${orderDetails.id}"></span></p>
          <p class="card-text"><strong>Order Date:</strong> <span th:text="${orderDetails.orderDate}"></span></p>
          <p class="card-text"><strong>Receiver:</strong> <span th:text="${orderDetails.receiver}"></span></p>
          <p class="card-text"><strong>Shipping Address:</strong> <span th:text="${orderDetails.address}"></span></p>
          <p class="card-text"><strong>Phone Number:</strong> <span th:text="${orderDetails.phoneNumber}"></span></p>
          <p class="card-text"><strong>Total Price:</strong> <span th:text="${orderDetails.totalPrice}"></span></p>
        </div>
      </div>

      <h2 class="mt-4 text-white">Order Items</h2>
      <div style=" background-color: rgba(0, 0, 0, 0.9); /* Background color with transparency */
    padding: 20px; /* Add padding to the container */
    border-radius: 10px; " class="table-responsive">
        <table class="table table-striped table-bordered text-white">
          <thead>
          <tr>
            <th>Game</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item : ${orderDetails.orderItems}">
            <td><a th:href="@{'/games/' + ${item.game.id}}">
              <img th:src="@{${item.game.imageURL}}" alt="Game Image" width="40" height="50">
              <span class="pl-3" th:text="${item.game.title}"></span>
            </a></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.total}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:unless="${orderDetails}" class="mt-4">
      <p class="alert alert-warning">Order not found</p>
    </div>
  </div>
</div>
</body>
</html>