<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
  <div class="container text-white">
      <h1 class="mb-3 mt-4">
          <span class="my-bg" style="padding: 7px; border-radius: 6px;">Order Details</span>
      </h1>
    <div  th:if="${orderDetails}" class="mt-4 text-dark">
      <div class="">
        <div style="border-radius: 10px; border: 1px solid dimgrey" class="my-bg text-white">
          <p class=""><strong>Order ID:</strong> <span th:text="${orderDetails.id}"></span></p>
          <p ><strong>Order Date:</strong> <span th:text="${#temporals.format(orderDetails.orderDateTime, 'yyyy-MM-dd HH:mm')}"></span></p>
          <p ><strong>Receiver:</strong> <span th:text="${orderDetails.receiver}"></span></p>
          <p ><strong>Shipping Address:</strong> <span th:text="${orderDetails.address}"></span></p>
            <p><strong>Email Address:</strong> <span th:text="${orderDetails.email}"></span></p>
          <p ><strong>Phone Number:</strong> <span th:text="${orderDetails.phoneNumber}"></span></p>
          <p ><strong>Total Price:</strong> <span th:text="${orderDetails.totalPrice}"></span></p>
        </div>
      </div>

      <h2 class="mt-4 text-white">Order Items</h2>
      <div class="table-responsive my-bg">
        <table class="table table-bordered table-hover table-dark">
          <thead>
          <tr>
            <th>Game</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item : ${orderDetails.orderItems}">
            <td>
              <div class="media">
                <img th:src="@{${item.game.imageURL}}" alt="Game Image" width="40" height="55" class="mr-3">
                <div class="media-body">
                  <a th:href="@{'/games/' + ${item.game.id}}">
                    <span class="font-weight-bold" th:text="${item.game.title}"></span>
                  </a>
                </div>
              </div>
            </td>
            <td class="text-center" th:text="${item.quantity}"></td>
            <td class="text-center" th:text="${item.total}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:unless="${orderDetails}" class="mt-4">
      <p class="alert alert-warning">Order not found</p>
    </div>
  </div>
</div>
</body>
</html>