<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
</div>
<br>
<div class="container text-white">
  <h1>Shopping Cart</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Game</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
      <td>
        <a th:href="@{'/games/' + ${item.game.id}}">
          <img th:src="@{${item.game.imageURL}}" alt="Game Image" width="40" height="50">
          <span class="pl-3" th:text="${item.game.title}"></span>
        </a>
      </td>
      <td th:text="${item.game.price}"></td>
      <td th:text="${item.quantity}"></td>
      <td th:text="${item.getTotal()}"></td>
    </tr>
    </tbody>
  </table>
  <div>
    <p>Total Price: $<span th:text="${totalPrice}"></span></p>
  </div>
</div>
<div class="container mt-2 text-white">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h4 class="text-center mb-2 text-white">Done shopping?</h4>
      <h5 class="text-center mb-4 text-white">Please enter your shipping address.</h5>
      <form th:method="POST" th:action="@{/order}" th:object="${orderDTO}">
        <div class="form-group">
          <label for="street">City and Street name</label>
          <input type="text" id="street" name="street" th:field="*{address}"  class="form-control">
          <p th:if="${#fields.hasErrors('address')}"
             class="errors alert alert-danger"
             th:errors="${orderDTO.address}">
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Place Order</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>