<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navigation}"></nav>
</div>
<br>
<div class="container text-white">
    <h1 class="mb-3">
        <span class="my-bg" style="padding: 5px; border-radius: 2px;">Shopping Cart</span>
    </h1>
  <table class="table table-bordered table-hover table-dark">
    <thead>
    <tr>
      <th>Game</th>
      <th class="text-center">Price</th>
      <th class="text-center">Quantity</th>
      <th class="text-center">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
      <td>
        <div class="media">
          <img th:src="@{${item.game.imageURL}}" alt="Game Image" width="40" height="55" class="mr-3">
          <div class="media-body">
            <a th:href="@{'/games/' + ${item.game.id}}">
              <span class="font-weight-bold" th:text="${item.game.title}"></span>
            </a>
            <p th:if="${item.game.isDeleted}" class="text-danger">Out of Stock</p>
          </div>
        </div>
      </td>
      <td class="text-center" th:text="${item.game.price}"></td>
      <td class="text-center" th:text="${item.quantity}"></td>
      <td class="text-center" th:text="${item.getTotal()}"></td>
    </tr>
    </tbody>
  </table>
  <div class="text-right">
    <p style="font-size: 22px;">Total Price: $<span th:text="${totalPrice}"></span></p>
  </div>
</div>

<div th:if="${confirmed == false}" class="container mt-4 text-white">
    <div class="row justify-content-center">
        <div class="my-bg col-md-5" style="padding: 10px; border-radius: 10px;">
            <h4 class="text-center text-danger mb-2 " style="color: #969fa1">Please confirm your profile <a href="/">here</a> to proceed with your order.</h4>
        </div>
    </div>
</div>

<div th:if="${confirmed == true}" class="container mt-4 text-white">
  <div class="row justify-content-center">
    <div style=" background-color: rgba(0, 0, 0, 0.9); /* Background color with transparency */
    padding: 20px; /* Add padding to the container */
    border-radius: 10px; " class="col-md-5">
        <h4 class="text-center mb-2 text-white">Done shopping, <span th:text="${loggedInUsername}"></span>?</h4>
      <h5 class="text-center mb-4 text-white">Please enter your shipping address and mobile phone number.</h5>
      <form th:method="POST" th:action="@{/order}" th:object="${orderDTO}">
        <div class="form-group">
          <label for="street">City name, street name and number</label>
          <input type="text" id="street" name="street" th:field="*{address}"  class="form-control">
          <p th:if="${#fields.hasErrors('address')}"
             class="errors alert alert-danger"
             th:errors="${orderDTO.address}">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone number</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+359</span>
            </div>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="881231234"  required>
          </div>
          <small id="phoneNumberHelp" class="form-text text-muted">Enter a Bulgarian phone number in the format +359XXXXXXXXX.</small>
          <p th:if="${#fields.hasErrors('phoneNumber')}"
             class="errors alert alert-danger"
             th:errors="${orderDTO.phoneNumber}">
            Invalid Bulgarian phone number format.
          </p>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Place Order</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>