<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center mb-4 text-white">Register</h2>
                <form th:method="POST" th:action="@{/register}" th:object="${userRegisterDTO}">
                    <h3 class="mt-5 text-center">
                        <strong th:if="${usernameExists}" class="rounded  pl-3 text-danger">
                            Username already exists</strong>
                    </h3>
                    <div class="mb-3">
                        <label for="username" class="form-label text-white">Username</label>
                        <input class="form-control" name="username" id="username" th:field="*{username}" th:errorclass="'is-invalid alert-danger'" placeholder="Enter your username">
                        <small class="text-danger invalid-feedback">Username must be between 4 and 32 symbols!</small>
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label text-white">Full Name</label>
                        <input class="form-control" id="fullName" name="username" th:field="*{fullName}" th:errorclass="'is-invalid alert-danger'" placeholder="Enter your full name">
                        <small class="text-danger invalid-feedback">Full name must be at least 4 symbols!</small>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label text-white">Email</label>
                        <input type="email" class="form-control" name="email" id="email" th:field="*{email}" th:errorclass="'is-invalid alert-danger'" placeholder="Enter your email">
                        <small class="text-danger invalid-feedback">Email cannot be blank!</small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Password</label>
                        <input type="password" class="form-control" name="password" id="password" th:errorclass="'is-invalid alert-danger'" th:field="*{password}" placeholder="Enter your password">
                        <small class="text-danger invalid-feedback">Password must be at least 4 symbols!</small>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label text-white">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm your password">
                        <small th:if="${passwordsDontMatch}" class="text-danger">Passwords don't match!</small>
                    </div>
                    <button type="submit" value="Register" class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
